*{
  box-sizing: border-box;
  padding: 0;
  background-color: rgb(15, 15, 20);
  color : white;
  font-family: Arial, Helvetica, sans-serif;
}
.App{
  width: 100%;
  
}
li{
  list-style-type: none;
}
a{
  text-decoration: none;
}

.left-column{
  float: left;
  width : 25%;
  height: 100vh;
  padding: 5px;
}
.logo{
  height: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu{
  height: 30px;
  font-size: 12px;
}
.dash{
  display: flex;
  
  flex-direction: column;
  height: 200px;
}
.dash-menu li{
  height: 20px;
  display: flex;
  
  flex-direction: column;
  
}
.right-column{
  width: 75%;
  float: left;
  
}
.topnav{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.left-nav{
  display: flex;
  justify-content: flex-start;
  padding-left: 20px;
  align-items: center;
}
.right-nav{
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.left{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.right{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

